.about .title {
    font-size: 50px;
    margin: 0;
    color: sandybrown;
    text-align: center;
    margin-top: 20px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
}

.service {
    width: 22%;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-10px);
}

.service:hover .icon {
    color: #007bff;
}

.icon-text .icon-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 30px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.3s;
}

.icon-text .icon-image:hover {
    transform: scale(3.3);
}

.service-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.service:hover .service-title {
    color: #007bff;
}

p {
    margin-bottom: 0;
    color: #6c757d;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.goals-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.stat {
    width: 22%;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    transition: transform 0.3s;
    font-size: 30px;
}

.stat p {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.goal_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goal_body img {
    max-width: 45%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goals-text {
    max-width: 50%;
    font-size: 1.6em;
    line-height: 1.8;
    color: #333;
    font-style: italic;
    border-left: 5px solid sandybrown;
    padding-left: 20px;
    margin: 0;
    text-align: justify;
}

@media (max-width: 768px) {
    .goal_body {
        flex-direction: column;
        align-items: flex-start;
    }

    .goal_body img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .goals-text {
        max-width: 100%;
        padding-left: 15px;
        border-left-width: 3px;
    }
}


.partner-network {
    margin: 60px 0;
}

.partner-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    color: sandybrown;
}

.partners {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partner-item {
    width: 22%;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    transition: transform 0.3s;
}

.partner-item:hover {
    transform: translateY(-10px);
}

.partner-img img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    transition: transform 0.3s;
}

.partner-item:hover .partner-img img {
    transform: scale(1.1);
}

.partner-info {
    padding: 20px;
}

.partner-info h5 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700;
}

.partner-info p {
    color: #6c757d;
    font-size: 14px;
}
